---
layout: page
search_omit: true
---
<h1>Hi, I'm Alex</h1>
<p> I'm an Android dev by nature. You can follow me on <a href="http://twitter.com/alexrwegener" title="Alex Wegener on Twitter" target="_blank">Twitter</a> || <a href="https://github.com/alexrwegener" title"Alex Wegener on Github" target="_blank">Github</a>. This site is mainly for my ramblings on things I find relatively interesting.</p>
<h2>Recent articles</h2>
<ul class="post-list">
{% for post in site.posts limit:10 %} 
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>